*.swp
*.log
*.aux
*.toc
*.out
*.lof
*.lot
*.synctex.gz
date.txt
stamp.tex
tag.tex
CCD-51pin.tex
Interface.J8.tex
Interface.U4.tex
Stack.tex
StackMap.tex
TempConn.tex
BiasGroup.tex
ClockDriverGroup.tex
HKmap.tex
HeaterGroup.tex
InterfaceGroup.tex
ThermalGroup.tex
